body {
    background-color: #e6e6e6;
    font-size: 1em;
    margin: 0 0.5em 1em;
}

header {
    background-color: #9b9b9b;
}

h1 {

    font-size: 2em;
    margin: 0px;
    padding: 0.1em;
}

h2 {
    font-size: 1.5em;
    margin: 0 0 0.8em;
}

h4 {
    font-weight: normal;
}

aside {
    text-align: center;
    padding: 0.5em 1em;
    margin: 0.5em 0;
}


main {
    margin: 0.5em;
}

section {
    padding: 0.5em 1em;
    margin: 0 1em;
}

p {
    font-size: 1em;
    margin: 0.5em 0;
}


@media (min-width: 30em) {

    section {
        float: right;
        width: 70%;
    }

    aside {
        float: left;
        width: 20%;
    }
}